//@import '_checkboxes';
&.df-font {
	> .field:first-child {
		padding-top: 5px;
		margin-bottom: 0;
		> label {
			width: auto;
			> span {line-height: 1.7;}
		}
		> .control {margin-top: 1px;}
	}
	> .field:not(:first-child) {margin-top: 0;}
	> .field {
		// 2015-11-26
		// Общие стили для выпадащиъ списков.
		// http://code.dmitry-fedyuk.com/m2/all/blob/e033b668d5ce765d0bdb9ede94bbac68301d31df/Backend/Block/Widget/Form/Renderer/Fieldset/Element.php#L210
		&.df-type-select {
			> label {text-align: left; width: auto;}
			&.df-letter-case {
				> .control > select {width: 15em;}
			}
		}
		&.df-checkboxes {
			> .control {
				> fieldset.df-fieldset-inline {
					@import 'jquery-ui/_button';
					@import 'jquery-ui/_icons';
					//@df-awesome-checkboxes();
					// 2015-11-24
					// Убрал здесь > перед правилом,
					// потому что для чекбоксов bold / italic / underline
					// я оборачиваю несколько инлайновых тегов в общий контейнер.
					span.df-element-inline.df-checkbox {
						// 2015-11-25
						// Убираю отступ, чтобы кнопки были прижаты друг к другу.
						margin-left: 0;
					}
				}
			}
		}
	}
}