<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
    <system>
<!--
2016-11-19
Вкладка (section) отображается в административном интерфейсе
только при наличии внутри неё хотя бы одной группы настроек (group).
Поэтому если, например, администратор установил пакет «mage2pro/core»
только для платёжного модуля (вкладка df_payment),
то, например, вкладки df_sso («Single sign-on») у него не будет.
-->
        <section
            id='df_sso'
            translate='label'
            showInDefault='1'
            showInWebsite='1'
            showInStore='1'
        >
            <tab>_df</tab>
            <label>Single sign-on</label>
            <class>separator-top</class>
            <!-- 2015-10-05 https://mage2.pro/t/114 -->
            <resource>Df_Sso::config</resource>
        </section>
    </system>
</config>