.df-customer-sso {
	// 2016-11-29
	// Luma использует слишком большой (40 пикселей) отступ между заголовком страницы
	// «Customer Login» или «Create New Customer Account»
	// и расположенным ниже контейнером «customer.form.register.fields.before»
	// (внутри которого мы размещаем наш контейнер «df.customer.sso»).
	// Нам надо убрать этот margin только для стандартных тем Luma и Blank.
    margin-top: -1em;
	// 2016-11-29
	// Создаём отступ между кнопками и расположенным ниже заголовком формы
	// «Personal Information» (на странице регистрации)
	// и «Registered Customers» (на странице аутентификации).
    margin-bottom: 1em;
}
// 2016-11-24
// The styles for the «Unified button» type.
// @see \Df\Sso\Source\Button\Type\UL
a.df-sso-button.U {
	background: #3b5998;
	border: none;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
	line-height: 18px;
	padding: 6px 12px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(34,34,34,0.2);
	transition: all .25s;
}
