.df-customer-sso {
	.df-theme-luma & {
		// 2016-11-29
		// Luma uses a big (40 px) margin-bottom for the <h1> tags: https://mage2.pro/t/2343
		// so we have too much vertical space between the
		// «Customer Login» or «Create New Customer Account» h1> tags
		// and the «customer.form.register.fields.before» container below
		// (where we place our «df.customer.sso» container):
		margin-top: -1em;
		// 2016-11-29
		// Increase the vertical margin between our single sign-on buttons
		// and the «Personal Information» (or «Registered Customers») form's title below:
		margin-bottom: 1em;
	}
}
// 2016-11-24
// The styles for the «Unified button» type.
// @see \Df\Sso\Source\Button\Type\UL
a.df-sso-button.U {
	background: #3b5998;
	border: none;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	font-weight: normal;
	line-height: 18px;
	padding: 6px 12px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(34,34,34,0.2);
	transition: all .25s;
}
