.accordion .config .df-fieldset {
	// 2015-11-17
	// По умолчанию Chome добавляет: «border: 2px groove threedface;»
	border: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	&.df-font {
		> .field:not(:first-child) {
			//display: none;
		}
	}
	// Стандартные элементы обрамлены в таблицу,
	// поэтому их стили нам не совсем подходят
	> .field {
		width: 100%;
		overflow: hidden;
		&:after {clear: none;}
		&:before {content: none;}
		&.df-checkbox {
			> label > span {
				vertical-align: top;
				line-height: 1.7;
			}
		}
		label {padding-top: 0;}
		> label {
			float: left;
			padding-right: 10px;
			padding-left: 0;
			width: 30%;
			// Ядро мешает сюда всякие стили.
			// http://stackoverflow.com/a/12309197
			&:before {content: none;}
		}
		> .control {
			float: none;
			width: 100%;
			// 2015-11-19
			// В ядре: «margin-left: 20%;»
			margin-left: 0;
			overflow: hidden;
			> fieldset.df-fieldset-inline {
				float: right;
				padding-top: 0.2rem;
				padding-bottom: 0;
				> span.df-element-inline {
					margin-left: 1rem;
					> label {
						> span {
							vertical-align: bottom;
							line-height: 120%;
						}
					}
				}
			}
		}
		> label ~ .control {
			float: left;
			width: 70%;
			overflow: auto;
		}
	}
}