<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
	<!--
		2015-10-26
		Цель перекрытия — устранение дефекта https://github.com/magento/magento2/issues/2165
		Inconsistency:
		@see \Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Attributes::_getAdditionalElementTypes()
		fires the event «adminhtml_catalog_product_edit_element_types»
		but @see \Magento\Catalog\Block\Adminhtml\Category\Tab\Attributes::_getAdditionalElementTypes()
		does not fire a similar event.
	-->
	<!--
		<preference
			for='Magento\Catalog\Block\Adminhtml\Category\Tab\Attributes'
			type='Df\Catalog\Block\Adminhtml\Category\Tab\Attributes'
		/>
	-->
	<!--
		2016-02-20
		Класс @see \Magento\Catalog\Block\Adminhtml\Category\Tab\Attributes
		был удалён из ветки develop аж два месяца назад (2015-12-16):
		https://github.com/magento/magento2/commit/89792cf
		«MAGETWO-46661: Eliminate old category form usage,
		eliminate 'Tab' namespace part in components used for form»

		Теперь интерфейс административной страницы товарного раздела изменился,
		там нет больше прежних вкладок, генерировавшихся на PHP,
		архитектура изменилась и вкладки теперь выглядят по-другому и создаются на JavaScript.

		«The backend category interface has been changed in the «develop» branch»:
		https://mage2.pro/t/767
	-->
</config>