<!--ko if: !hasCards -->
	<!-- ko template: 'Df_Payment/card/new' --><!-- /ko -->
<!--/ko-->
<!--ko if: hasCards -->
	<!-- ko foreach: cards -->
		<div class='field choice df-choice'>
			<input
				data-bind="
					attr: {id: $parent.fid(id)}
					,checked: $parent.currentCard
					,value: id
				"
				type='radio' name='option' class='radio'
			/>
			<label data-bind="attr: {for: $parent.fid(id)}" class='label'>
				<span data-bind='html: label'></span>
			</label>
		</div>
	<!--/ko-->
	<div class='field choice df-choice'>
		<input
			data-bind="
				attr: {id: fid(newCardId)}
				,checked: currentCard
				,value: newCardId
			"
			type='radio' name='option' class='radio'
		/>
		<label data-bind="attr: {for: fid(newCardId)}" class='label'>
			<span data-bind="df_i18n: 'Another card'"></span>
		</label>
	</div>
	<!-- ko template: 'Df_Payment/card/new' --><!-- /ko -->
<!--/ko-->
<!-- 2017-07-14 Additional fields -->
<!--ko if: dfCard_customTemplate_bottom() -->
	<div class='df-card-bottom'>
		<!-- ko template: {name: dfCard_customTemplate_bottom()} --><!-- /ko -->
	</div>
<!--/ko-->