<!-- 2017-04-14 http://stackoverflow.com/a/21528681 -->
<div data-bind="
	attr: {'class': ['payment-method df-payment-method', domPrefix(), containerCss()].join(' ')}
	,css: {'_active': dfIsChosen()}
">
	<div class="payment-method-title field choice">
<!--  2017-07-25
The "checked" binding: http://knockoutjs.com/documentation/checked-binding.html
«The way your parameter is interpreted depends on what type of element you’re binding to:
<...> For radio buttons, KO will set the element to be checked
if and only if the parameter value equals the radio button node’s value attribute
or the value specified by the checkedValue parameter.»
-->
		<input
			type="radio"
			name="payment[method]"
			class="radio"
			data-bind="
				attr: {id: domPrefix()}
				,checked: dfRadioButtonCheckedHandler()
				,click: selectPaymentMethod
				,value: domPrefix()
				,visible: isRadioButtonVisible()
			"
		/>
		<label class="label" data-bind="attr: {for: domPrefix()}"><span data-bind="html: getTitle()"></span></label>
	</div>
	<!--ko if: (isTest() && debugMessage().length) -->
		<div class='df-debug-message' data-bind="html: debugMessage()"></div>
	<!--/ko-->
	<div class="payment-method-content">
		<!-- ko foreach: getRegion('messages') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
		<!--ko if: requireBillingAddress() -->
			<div class="payment-method-billing-address">
				<!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
					<!-- ko template: getTemplate() --><!-- /ko -->
				<!--/ko-->
			</div>
		<!--/ko-->
<!--
2017-08-26
It is an internal <form> for a particular payment module.
It is located inside an outer <form> which is common for all payment modules:
	<form id="co-payment-form" class="form payments" novalidate="novalidate">
		<...>
	</form>
https://github.com/magento/magento2/blob/2.2.0-rc2.2/app/code/Magento/Checkout/view/frontend/web/template/payment.html#L18-L39

2017-11-15
`afterRender='<callback>'` does not work at least in Magento 2.0.2: https://github.com/mage2pro/stripe/issues/50
-->
		<form action='#' method='post' data-bind='afterRender: dfFormAfterRender, attr: {class: dfFormCssClassesS()}'>
			<!--ko if: df.formTemplate -->
				<!-- ko template: df.formTemplate --><!-- /ko -->
			<!--/ko-->
		</form>
		<div class="payment-method-content">
			<div class="checkout-agreements-block">
				<!-- ko foreach: $parent.getRegion('before-place-order') -->
					<!-- ko template: getTemplate() --><!-- /ko -->
				<!--/ko-->
			</div>
			<div class="actions-toolbar">
				<div class="primary">
					<button
						class="action primary checkout"
						type="submit"
						data-bind="click: placeOrder, enable: canPlaceOrder"
					>
						<span data-bind="df_i18n: 'Place Order'"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>