<!-- 2017-03-04
@used-by Df_GingerPaymentsBase/main
https://github.com/mage2pro/ginger-payments-base/blob/0.1.2/view/frontend/web/template/form.html#L1
@used-by Dfe_AllPay/one-off/withOptions
https://github.com/mage2pro/allpay/blob/1.1.38/view/frontend/web/template/one-off/withOptions.html?ts=4#L7
-->
<h4 data-bind="i18n: 'Please select a payment option:'"/>
<!-- ko foreach: optionsA() -->
	<!-- 2017-03-04 https://github.com/mage2pro/core/blob/2.0.32/Payment/view/frontend/web/main.less?ts=4#L55 -->
	<div class='field choice df-withOptions'>
		<input data-bind="attr: {id: domId}, value: value" type='radio' name='option' class='radio'/>
		<label data-bind="attr: {for: domId}" class='label'>
			<span data-bind='html: label'></span>
		</label>
	</div>
	<!-- 2017-03-04
		@see Df_Payment/withOptions::optionAfter()
		https://github.com/mage2pro/core/blob/2.0.35/Payment/view/frontend/web/withOptions.js?ts=4#L58-L68
	-->
	<!-- ko template: {data: $parent, name: $parent.optionAfter(value)} --><!-- /ko -->
<!--/ko-->