&.df-font {
	> .field:first-child {
		padding-top: 5px;
		margin-bottom: 0;
		> label {
			width: auto;
			> span {
				line-height: 1.7;
			}
		}
		> .control {margin-top: 1px;}
	}
	> .field:not(:first-child) {
		margin-top: 0;
	}
}