<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
	<!--
		2015-07-23
		Цель плагина —
		авторизация в административной части посредством OAuth.
	-->
	<type name='Magento\User\Model\User'>
		<plugin
			name='Df\User\Plugin\Model\User'
			type='Df\User\Plugin\Model\User'
		/>
	</type>
</config>