.accordion .config .df-fieldset {
	// 2015-11-17
	// По умолчанию Chome добавляет: «border: 2px groove threedface;»
	border: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	// 2015-12-11
	// Тонкий момент.
	// Когда элемент управления возвращает непустое значение на $this->getAfterElementHtml()
	// например, посредством df_fe_init добавляет после себя стили и скрипты,
	// то ядро зачем-то засовывает их внутрь элемента label.addafter:
	// https://github.com/magento/magento2/blob/2.0.0/lib/internal/Magento/Framework/Data/Form/Element/AbstractElement.php#L376
	// https://github.com/magento/magento2/blob/2.0.0/lib/internal/Magento/Framework/Data/Form/Element/Select.php#L80
	// Мы не хотим, чтобы этот элемент (который в нашем случае даже не видим, потому что
	// содержит внутри только элементы script и link), имел какие-то стили типа padding.
	// Эффективнее всего оказалось скрыть его.
	//label.addafter {display: none;}
	// 2015-12-27
	// Для тех случаев, когда в выпадающем списке всего один вариант,
	// и мы заменяем его на статичное поле, например:
	// https://github.com/mage2pro/currency-format/blob/45370305/FormElement.php#L30
	input[type=hidden] ~ label.addafter {margin-bottom: 6px;}
	// 2015-12-28
	// В ядре: 100%: https://github.com/magento/magento2/blob/2.0.0/app/design/adminhtml/Magento/backend/Magento_Backend/web/css/source/module/main/_collapsible-blocks.less#L305-L310
	// Я внутри филдсета экономлю место, и мне не нужны гигантские элементы управления в 100%.
	//
	// 2016-09-05
	// Понял, что правильно писать width: initial, а не width: auto,
	// потому что иначе правило width: auto оказывается более сильным,
	// чем явно заданная ширина конкретных элементов.
	select, input[type='text'], input[type='password'], textarea {width: initial;}
	label:not(.addafter)  {
		//float: left;
		padding-top: 0;
		padding-left: 0;
		// 2015-12-11
		// Тонкий момент.
		// Раньше я зачем-то ставиь здесь width: 30%;
		// Разумеется, правильно width: auto;,
		// потому внутри нашего филдсета нам нет смысла делать подписи одинаковой ширины,
		// пусть они будут какие есть.
		width: auto;
		&.fa {padding-right: 5px;}
		&:not(.fa) {
			// Ядро мешает сюда всякие стили.
			// http://stackoverflow.com/a/12309197
			&:before {content: none;}
			// 2015-12-29
			// Раньше тут стояло 10px, но ещё использовалось float: left,
			// что делало элементы блочными, и пробелы между элементами игнорировались.
			// Теперь float убрал
			// (не то, чтобы он мешал, просто старался сделать правила как можно проще)
			// и пробелы стали влиять на отступы, поэтому и отступ сделал поменьше.
			padding-right: 5px;
		}
	}
	// 2015-12-28
	// Случай, когда подпись должна быть расположена справа от элемента управления
	// (так для чекбоксов).
	input ~ label:not(.addafter) {
		//float: none;
		&.fa {
			padding-right: 0;
			padding-left: 5px;
		}
		&:not(.fa) {
			padding-right: 0;
			// 2015-12-27
			// Намеренно поставил 5, а не 10.
			padding-left: 5px;
		}
	}
	// 2015-12-28
	// У select и input text верхний border — 1px и верхний padding — 4px.
	// Поэтому чтобы подпись находилась на одном уровне с текстом элемента управления,
	// устанавливаем ей верхний паддинг.
	label {&.df-element-select, &.df-element-text {padding-top: 5px;}}
	input.df-checkbox {margin-right: 0;}
	// 2015-12-28
	// У чекбокса верхний бордер 1px.
	input.df-checkbox ~ label {padding-top: 1px;}
	// Стандартные элементы обрамлены в таблицу,
	// поэтому их стили нам не совсем подходят
	> .df-field {
		//width: 100%;
		// 2015-11-22
		// В ядре задано «position: relative»:
		// https://github.com/magento/magento2/blob/2.0.0/app/design/adminhtml/Magento/backend/web/css/styles-old.less#L33
		// и это, казалось бы, невинное правило
		// ломает нам JavaScript: поле получается очень узкой высоты:
		// отображается-то оно нормально (узость видна только в отладчике),
		// но на наведение курсора мыши не реагирует.
		position: static;
		// 2015-11-21
		// Намернно убрал «overflow: hidden»,
		// чтобы сделать отрицательный margin-top для выпадающего списка Letter Case
		// 2015-11-24
		// «overflow: hidden» здесь всё-таки нужно: иначе строки порой наползают друг на друга.
		overflow: hidden;
		&:after, &:before {clear: none; display: none;}
		&.df-checkbox {
			label:not(.addafter) {
				cursor: pointer;
				> span {cursor: pointer;}
			}
		}
		// 2015-11-21
		// Намеренно убрал «overflow: hidden;»,
		// чтобы сделать отрицательный margin-top для выпадающего списка Letter Case
		// overflow: hidden;
		fieldset.df-fieldset-inline {
			//float: right;
			//padding-top: 0.2rem;
			padding-bottom: 0;
			width: 100%;
			// 2015-11-21
			// Намернно убрал «overflow: hidden;»,
			// чтобы сделать отрицательный margin-top для выпадающего списка Letter Case
			// overflow: hidden;
			//
			// 2015-11-24
			// Убрал здесь > перед правилом,
			// потому что для чекбоксов bold / italic / underline
			// я оборачиваю несколько инлайновых тегов в общий контейнер.
			span.df-element-inline {
				display: block;
				float: left;
				&:not(:first-child) {margin-left: 1rem;}
				> label:not(.addafter) {
					// 2015-11-20
					// вместо 5px
					// padding-right: 3px;
					// 2015-12-11
					// Как для блочного элемента.
					// line-height: 3.2rem;
					// 2015-12-29
					// Выглядит самым верным.
					line-height: initial;
					vertical-align: baseline;
					> span {
						//vertical-align: bottom;
						//line-height: 120%;
						// 2015-12-11
						// Скопировал стили с блочного элемента.
						display: inline-block;
						line-height: 1.2;
						vertical-align: middle;
						white-space: normal;
					}
				}
				> select {
					//width: auto;
				}
			}
		}
	}
}