<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<type name='Df\Payment\Block\ConfigurableInfo'>
		<arguments>
			<argument name='data' xsi:type='array'>
				<!--
					По аналогии с https://github.com/magento/magento2/blob/135f967/app/code/Magento/Braintree/etc/frontend/di.xml#L23-L28
				-->
				<item xsi:type='string' name='is_secure_mode'>1</item>
			</argument>
		</arguments>
	</type>
</config>