@import '_reset';
.df-hidden {display: none;}
.df-hover {cursor: pointer;}
.df-config {
	// 2015-12-21
	// https://mage2.pro/t/332
	// «The fields with type='checkbox' are misaligned
	// in the backend «Stores» → «Configuration» section»
	.admin__scope-old .value input[type='checkbox'] {
		//margin-top: 0.75rem;
	}
	.accordion .config .label label {padding-top: 0;}
	.accordion .config .value {vertical-align: top;}
	// 2015-12-28
	// Ядро по клику на подписи к галке уже умеет устанавливать и снимать эту галку.
	// Мы же в дополнение к этому устанавливаем правильный курсор — руку,
	// чтобы администратору было понятно, что на надпись можно кликнуть.
	input.df-checkbox ~ label {cursor: pointer;}
}
