<div class='field type'>
	<div class='control'>
		<ul class='credit-card-types'>
			<!-- ko foreach: {data: getCardTypes(), as: 'item'} -->
			<li class='item' data-bind="css: {
				_active: $parent.selectedCardType() == item,
				_inactive: $parent.selectedCardType() != null && $parent.selectedCardType() != item
			} ">
				<!--ko if: $parent.getIcons(item) -->
				<img data-bind="attr: {
					height: $parent.getIcons(item).height
					,src: $parent.getIcons(item).url
					,width: $parent.getIcons(item).width
				}">
				<!--/ko-->
			</li>
			<!--/ko-->
		</ul>
		<input class='input-text' name='payment[cc_type]' type='hidden' value='' data-bind="
			attr: {
				'data-container': getCode() + '-cc-type'
				,id: domPrefix() + '_cc_type'
			}
			,value: creditCardType"
		/>
	</div>
</div>
<!-- 2016-11-12 -->
<!--ko if: requireCardholder() -->
	<div class='field cardholder required'>
		<label data-bind="attr: {for: fid('cardholder')}" class="label">
			<span><!-- ko df_i18n: 'Cardholder Name'--><!-- /ko --></span>
		</label>
		<div class='control'>
			<input class='input-text' type='text' value='' data-bind="
				attr: {
					autocomplete: off
					,'data-container': getCode() + '-cardholder'
					,'data-validate': JSON.stringify({required: true})
					,id: fid('cardholder')
					,title: $t('Cardholder Name')
				}
				,value: cardholder
				,valueUpdate: 'keyup'
			"/>
		</div>
	</div>
<!--/ko-->
<!-- 2017-06-13 Additional fields -->
<!--ko if: dfCard_customTemplate_afterCardholder() -->
	<!-- ko template: {name: dfCard_customTemplate_afterCardholder()} --><!-- /ko -->
<!--/ko-->
<div class='field number required'>
	<label data-bind="attr: {for: dfCardNumberId()}" class="label">
		<span><!-- ko df_i18n: 'Credit Card Number'--><!-- /ko --></span>
	</label>
	<div class='control'>
<!-- 2017-07-28
I have removed `'validate-cc-type': '#' + fid('cc_type')` validator,
because it looks like it duplicates the `validate-card-number` functionality in my case,
and `validate-card-number` does not support custom bank card networks (like Brazilians):
https://github.com/magento/magento2/blob/2.2.0-RC1.5/lib/web/mage/validation.js#L110-L148
https://github.com/magento/magento2/blob/2.2.0-RC1.5/lib/web/mage/validation.js#L1236-L1263
The `validate-card-number` already supports custom bank card networks because of my patch:
https://github.com/mage2pro/core/blob/2.9.14/Payment/view/frontend/web/card-types.js
-->
		<input class='input-text' type='number' value='' data-bind="
			attr: {
				autocomplete: off
				,'data-container': getCode() + '-cc-number'
				,'data-validate': JSON.stringify({
					'required-number': true
					,'validate-card-number': '#' + fid('cc_type')
				})
				,id: dfCardNumberId()
				,placeholder: '1234 1234 1234 1234'
				,title: $t('Credit Card Number')
			}
			,value: creditCardNumber
			,valueUpdate: 'keyup'
		"/>
	</div>
</div>
<!-- ko template: df.card.field.expiration --><!-- /ko -->
<div class='field cvv required' data-bind="attr: {id: fid('cc_type_cvv_div')}">
	<label data-bind="attr: {for: dfCardVerificationId()}" class='label'>
		<span><!-- ko df_i18n: 'Card Verification Number'--><!-- /ko --></span>
	</label>
	<div class='control _with-tooltip'>
<!-- 2017-07-28
I have removed `'validate-cc-cvn':'#' + fid('cc_type')` validator,
because it looks like it duplicates the `validate-card-number` functionality in my case,
and `validate-cc-cvn` does not support custom bank card networks (like Brazilians):
https://github.com/magento/magento2/blob/2.2.0-RC1.5/lib/web/mage/validation.js#L110-L148
https://github.com/magento/magento2/blob/2.2.0-RC1.5/lib/web/mage/validation.js#L1292-L1316
The `validate-card-number` already supports custom bank card networks because of my patch:
https://github.com/mage2pro/core/blob/2.9.14/Payment/view/frontend/web/card-types.js
-->
		<input class='input-text cvv' type='number' value='' data-bind="
			attr: {
				'data-container': getCode() + '-cc-cvv'
				,'data-validate': JSON.stringify({'required-number':true})
				,id: dfCardVerificationId()
				,title: $t('Card Verification Number')
			}
			,enable: true
			,value: creditCardVerificationNumber
		"/>
		<div class='field-tooltip toggle'>
			<span class='field-tooltip-action action-cvv' data-toggle='dropdown' tabindex='0' data-bind="
				attr: {title: $t('What is this?')}
				,mageInit: {'dropdown':{'activeClass': '_active'}}
			"><span><!-- ko df_i18n: 'What is this?'--><!-- /ko --></span></span>
			<div class='field-tooltip-content' data-target='dropdown' data-bind='html: getCvvImageHtml()'/>
		</div>
	</div>
</div>
<!-- 2017-10-05 Additional fields -->
<!--ko if: df.card.new.atTheEnd -->
	<!-- ko template: df.card.new.atTheEnd --><!-- /ko -->
<!--/ko-->