<!-- 2017-09-08
jQuery Validate plugin requres the validated elements to have a name:
https://github.com/magento/magento2/blob/2.2.0-RC1.5/lib/web/jquery/jquery.validate.js#L487-L499
Stripe and its clones forbids us to assign the `name` attribute to the bank card form elements,
so I have implemented a patch to jQuery Validate plugin: it uses ID if the name is absent:
https://github.com/mage2pro/core/blob/2.11.27/Core/view/base/web/main.js#L43-L72
So, in our case the validated elements should have an ID or a name.
 -->
<fieldset data-bind="
	attr: {
		class: 'fieldset payment items ccard df-card-new ' + domPrefix()
		,id: fid('form_cc')
	}
	,visible: isNewCardChosen
">
	<!-- ko template: df.card.new.fields --><!-- /ko -->
</fieldset>