.accordion .config .df-fieldset {
	> .df-field.df-size {
		// 2015-12-11
		// По-умолчанию: margin-left: 1rem;
		margin-left: 0;
		> input {
			// 2015-12-11
			// По-умолчанию тут зачем-то 1px
			// border: 0;
			// 2015-12-11
			// По-умолчанию: 100%.
			width: 4rem;
			// 2015-12-11
			// Такие выравнивание выглядит самым приятным.
			text-align: center;
		}
	}
	> .df-field.df-size-units {
		// 2015-12-11
		// Подпись у нас отсутстует, поэтому скрываем её, иначе она почему-то ломает вёрстку,
		// да и padding оказывается лишним.
		> label:not(.addafter) {display: none;}
	}
}