<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<!--
		2016-08-17
		Цель плагина — форматирование внешнего вида платёжного адреса в том случае,
		когда отключенен запрос этого адреса у покупателей, и данные, вероятно, пусты.
	-->
	<type name='Magento\Sales\Model\Order\Address\Renderer'>
		<plugin
			name='Df\Sales\Plugin\Model\Order\Address\Renderer'
			type='Df\Sales\Plugin\Model\Order\Address\Renderer'
		/>
	</type>
	<!--
		2016-07-27
		Цель плагина — добавление возможности отключения необходимости платёжного адреса.
		Это будет использоваться моими платёжными модулями.
		Помимо этого плагина для данной функциональности нужны ещё 2:
		Df\Customer\Plugin\Model\Address\AbstractAddress
		Df\Customer\Plugin\Model\ResourceModel\AddressRepository
	-->
	<type name='Magento\Sales\Model\Order\Address\Validator'>
		<plugin
			name='Df\Sales\Plugin\Model\Order\Address\Validator'
			type='Df\Sales\Plugin\Model\Order\Address\Validator'
		/>
	</type>
	<!--
		2016-03-18
		Цель плагина — устранения дефекта:
		«Bug: the @see \Magento\Sales\Model\Order\CreditmemoRepository::save() method
		misses (does not log and does not show) the actual exception message
		on a credit memo saving falure».
		https://mage2.pro/t/973

		2016-03-28
		Раньше этот плагин находился в области adminhtml,
		но теперь он нам нужен и в области frontend,
		потому что в этой области обрабатываются события Stripe:
		\Dfe\Stripe\Handler\Charge\Refunded
	-->
	<type name='Magento\Sales\Model\Order\CreditmemoRepository'>
		<plugin
			name='Df\Sales\Plugin\Model\Order\CreditmemoRepository'
			type='Df\Sales\Plugin\Model\Order\CreditmemoRepository'
		/>
	</type>
</config>