<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2020-02-08
"The https://github.com/royalwholesalecandy/core/issues/57 solution works with Magento 2.2.5,
but does not work with Magento 2.3.2.":
https://github.com/tradefurniturecompany/core/issues/25#issuecomment-58373497 -->
	<virtualType name='Df\Cron\Model\VirtualLoggerHandler' type='Df\Cron\Model\LoggerHandler'>
		<arguments>
			<argument name='fileName' xsi:type='string'>/var/log/cron.log</argument>
		</arguments>
	</virtualType>
<!-- 2020-02-09
The `Magento\Cron\Model\VirtualLogger` virtual class was introduced in Magento 2.3.1 by the following commit:
https://github.com/magento/magento2/commit/a4f58c88
It is absent in Magento ≤ 2.3.1, so I explicitly re-declare its base type as `type='Magento\Framework\Logger\Monolog'`
to overcome the error:
«Source class "\Magento\Cron\Model\Virtual" for "Magento\Cron\Model\VirtualLogger" generation does not exist». -->
	<virtualType name='Magento\Cron\Model\VirtualLogger' type='Magento\Framework\Logger\Monolog'>
		<arguments>
			<argument name='handlers' xsi:type='array'>
				<item name='system' xsi:type='object'>Df\Cron\Model\LoggerHandler</item>
			</argument>
		</arguments>
	</virtualType>
</config>