<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:framework:Module/etc/module.xsd'
>
<!-- 2024-06-02 "Port `df_subscriber()` from `thehcginstitute-com/m1`": https://github.com/mage2pro/core/issues/399 -->
	<module name='Df_Newsletter' setup_version='1.0.0'>
		<sequence>
			<module name='Magento_Newsletter'/>
			<module name='Df_Core'/>
		</sequence>
	</module>
</config>