<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
	<!--
		2016-08-22
        How does \Magento\Framework\DataObject\Copy::dispatchCopyFieldSetEvent() work?
        https://mage2.pro/t/1975
	-->
	<event name='core_copy_fieldset_order_address_to_customer'>
		<observer
			name='Df\Customer\Observer\CopyFieldset\OrderAddressToCustomer'
			instance='Df\Customer\Observer\CopyFieldset\OrderAddressToCustomer'
		/>
	</event>
	<!--
		2016-12-03
		«customer_register_success»: a customer registration event
		https://mage2.pro/t/2357
	-->
	<event name='customer_register_success'>
		<observer
			name='Df\Customer\Observer\RegisterSuccess'
			instance='Df\Customer\Observer\RegisterSuccess'
		/>
	</event>
</config>
