body.checkout-index-index {
	.payment-method {
		.df-debug-message {
			margin-top: -10px;
			margin-bottom: 10px;
			// 2016-08-28
			// Так у элементов-братьев.
			@media only screen and (max-width: 767px) {padding-left: 15px;}
			// 2016-11-09
			// Используется модулем «Square»,
			// который таким образом требует загрузки платёжной формы через HTTPS.
			.df-error {color: red;}
		}
	}
	// 2016-08-17
	// Донастраиваем интерфейс для наилучшего отображения единственного способа оплаты.
	&.df-single-payment-method {
		form.form-login {
			padding-bottom: 0;
			border-bottom: 0;
			margin-bottom: 0;
			#customer-email-fieldset .field:last-of-type {margin-bottom: 0;}
		}
		form#co-payment-form > fieldset {> legend, > br {display: none;}}
	}
}
// 2016-08-23
form.df-payment {
	h3 {margin-top: 0;}
	// 2017-04-15
	// Используется в 2-х местах:
	// 1) «Please select the payment option:»
	// 2) allPay: «The order will be paid with a bank card.»
	h4 {margin: 0 0 0.5em 0; font-weight: normal;}
	// 2016-08-23
	// Способ оплаты банковской картой.
	&.df-card {
		// 2017-04-15
		// В блоке оплаты банковской картой этот стиль используется в 2-х местах:
		// 1) Выбор банковской карты из числа ранее использованных.
		// 2) Выбор опции "Новая карта".
		// @see Df_Payment/card
		.df-choice {padding-top: 0.25em; padding-bottom: 0.25em;}
		.ccard {
			// 2016-11-12
			// Поле для ввода имени владельца банковской карты.
			// Сделал ширину такой же, как в ядре для номера карты.
			.cardholder .input-text {width: 225px;}
			// 2016-09-28
			// Поле для совместного ввода месяца и года истечения срока действия банковской карты.
			// Используется модулем Square.
			.date-composite .input-text {width: 5.5em;}
		}
	}
	.df-choice {> label, > input {cursor: pointer;}}
	.fieldset.payment:last-child {
		// 2016-08-28
		// В ядре margin-bottom: 0, и тогда кнопка «Place Order»
		// прилипает снизу к форме ввода реквизитов банковской карты.
		@media only screen and (max-width: 767px) {margin-bottom: 20px;}
	}
}
@import 'less/withOptions';
// 2016-11-19
// IWD «Checkout Suite» норовит поломать платёжную форму посредством :before.
// http://stackoverflow.com/a/18736074
// Другие дефекты IWD «Checkout Suite»: https://mage2.pro/tags/iwd-checkout-suite
.iwd-opc-form-for-payments .fieldset .opc-payment .payment-method._active > .payment-method-content > form.form.df-payment fieldset {
	> div.number, > div.cvv {> label:before {content: none;}}
}