<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2020-10-04
"«Invalid parameter: parameter must be a non-empty string» at `vendor/magento/framework/App/Feed.php:36`":
https://github.com/dxmoto/site/issues/113 -->
	<type name='Magento\Rss\Model\Rss'>
		<plugin name='Df\Rss\Plugin\Model\Rss' type='Df\Rss\Plugin\Model\Rss'/>
	</type>
</config>