<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd"
>
	<!--
		2016-08-02
		The plugin purpose is
		to pass the \Magento\Config\Model\Config\Structure\Element\Field instance
		to a backend model instance on the backend model creation:
		https://github.com/magento/magento2/blob/2.1.0/app/code/Magento/Config/Block/System/Config/Form.php#L314
		https://github.com/magento/magento2/blob/2.1.0/app/code/Magento/Config/Model/Config/Structure/Element/Field.php#L214-L222
		It allow us to use the field's configuration
		when a config value is loaded from DB.

		The plugin should be declared here, in the root di.xml, not in the adminhtml/di.xml,
		because the backend models are used not only in the backend,
		but in the other application areas too.
	-->
	<type name='Magento\Config\Model\Config\Structure\Element\Field'>
		<plugin
			name='Df\Config\Plugin\Model\Config\Structure\Element\Field'
			type='Df\Config\Plugin\Model\Config\Structure\Element\Field'
		/>
	</type>
</config>