<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
<!-- 2015-07-10
The `id` attribute of the `tab` tag should have > 2 characters:
https://github.com/magento/magento2/blob/1.0.0-beta/app/code/Magento/Config/etc/system_file.xsd#L405
So I added the underscore. -->
		<tab id='_df' translate='label' sortOrder='-100'>
			<label>Mage2.PRO</label>
		</tab>
	</system>
</config>