<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:framework:Module/etc/module.xsd'
>
	<module name='Df_AdobeStockImageAdminUi' setup_version='1.0.0'>
		<sequence>
<!-- 2022-10-19
If Magento is installed via Composer, then the `Magento_AdobeStockImageAdminUi` module is installed automatically.
If Magento is installed via Git, then the `Magento_AdobeStockImageAdminUi` module can be installed via Composer:
	composer2 require magento/adobe-stock-integration:*
https://github.com/magento/adobe-stock-integration/wiki/Installation -->
			<module name='Magento_AdobeStockImageAdminUi'/>
			<module name='Df_Core'/>
		</sequence>
	</module>
</config>