<?xml version='1.0'?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
    <system>
        <section
            id='dfe_facebook'
            translate='label'
            type='text'
            showInDefault='1'
            showInWebsite='1'
            showInStore='1'
        >
            <tab>_df</tab>
            <label>Facebook</label>
            <class>separator-top</class>
            <!--
                2015-10-05
                https://mage2.pro/t/114
            -->
            <resource>Dfe_Facebook::config</resource>
            <group
                id='credentials'
                translate='label'
                type='text'
                sortOrder='1'
                showInDefault='1'
                showInWebsite='1'
                showInStore='0'
            >
                <label>OAuth Credentials</label>
                <field
                    id='app_id'
                    translate='label'
                    type='text'
                    sortOrder='1'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='0'
                >
                    <label>App ID</label>
                    <comment><![CDATA[<a href='https://discourse.pro/t/15'>how to get it?</a>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>