body.checkout-index-index {
	// 2016-08-07
	// Сегодня заметил, что радиокнопки и пописи к ним
	// почему-то не выровнены на странице оформления заказа.
	// Видимо, это — дефект ядра.
	.choice {
		> input[type=radio], > label {
			vertical-align: middle;
			margin-top: 0;
		}
	}
	// 2016-08-21
	.messages pre {
		// 2016-08-21
		// Чтобы слишком длинные строки переносились.
		// http://stackoverflow.com/a/1634298
		white-space: pre-wrap;
		word-wrap: break-word;
		// 2016-08-21
		// Не понял, как иначе ограничить ширину.
		max-width: 57em;
	}
	.payment-method {
		.df-debug-message {
			margin-top: -10px;
			margin-bottom: 10px;
			// 2016-08-28
			// Так у элементов-братьев.
			@media only screen and (max-width: 767px) {
				padding-left: 15px;
			}
		}
	}
	// 2016-08-17
	// Донастраиваем интерфейс для наилучшего отображения единственного способа оплаты.
	&.df-single-payment-method {
		form.form-login {
			padding-bottom: 0;
			border-bottom: 0;
			margin-bottom: 0;
			#customer-email-fieldset .field:last-of-type {margin-bottom: 0;}
		}
		form#co-payment-form > fieldset {
			> legend, > br {display: none;}
		}
	}
}
